<section class="request">
  <% if !logged_in? || current_user[:id] != @user['key']  %>
    <div id="please-log-in">
      <p>Only <a href="http://rdio.com<%= @user['url'] %>"><img src="<%= @user['icon'] %>" width="35"> <%= @user['firstName'] %></a> can accept this playlist rquest.</p>
    </div>
  <% end %>
  <p>Hello <a href="http://rdio.com<%= @user['url'] %>"><img src="<%= @user['icon'] %>" width="35"> <%= @user['firstName'] %></a></p>
  <p>
    <% if @requester %>
      <a href="http://rdio.com<%= @requester['url'] %>"><img src="<%= @requester['icon'] %>" width="35"> <%= @requester['firstName'] %></a>
    <% else %>
      Someone
    <% end %>
    wants you
    to add <a href="<%= @song['shortUrl'] %>"><img src="<%= @song['icon'] %>" width="35"> <%= @song['name'] %> by <%= @song['artist'] %></a><br>
    to your <a href="<%= @playlist['shortUrl'] %>"><img src="<%= @playlist['icon'] %>" width="35"> <%= @playlist['name'] %></a> playlist.
  </p>

  <a class="button" href="javascript:">Accept</a>
</section>
