<section class="request">
  <p>
    Annonymus wants you
    to add <a href="<%= @song['shortUrl'] %>"><img src="<%= @song['icon'] %>" width="35"> <%= @song['name'] %> by <%= @song['artist'] %></a><br>
    to your <a href="<%= @playlist['shortUrl'] %>"><img src="<%= @playlist['icon'] %>" width="35"> <%= @playlist['name'] %></a> playlist.
  </p>

  <a class="button" href="javascript:">Accept</a>
</section>
