<section class="request">
  <% if defined? @error %>
    <div class="overlay error">
      <p><span>Error:</span> <%= @error %>.</p>
    </div>
  <% elsif @success %>
    <div class="overlay success">
      <p>
        <span>Success:</span> <a href="<%= @song['shortUrl'] %>"><img src="<%= @song['icon'] %>" width="35"> <%= @song['name'] %> by <%= @song['artist'] %></a> has been added<br>
        to your <a href="<%= @playlist['shortUrl'] %>"><img src="<%= @playlist['icon'] %>" width="35"> <%= @playlist['name'] %></a> playlist.
      </p>
    </div>
  <% elsif !logged_in? || current_user[:id] != @user['key'] %>
    <div class="overlay">
      <p>Only <a href="http://rdio.com<%= @user['url'] %>"><img src="<%= @user['icon'] %>" width="35"> <%= @user['firstName'] %></a> can accept this playlist rquest.</p>
    </div>
  <% end %>
  <p>Hello <a href="http://rdio.com<%= @user['url'] %>"><img src="<%= @user['icon'] %>" width="35"> <%= @user['firstName'] %></a></p>
  <p>
    <% if @requester %>
      <a href="http://rdio.com<%= @requester['url'] %>"><img src="<%= @requester['icon'] %>" width="35"> <%= @requester['firstName'] %></a>
    <% else %>
      Someone
    <% end %>
    wants you
    to add <a href="<%= @song['shortUrl'] %>"><img src="<%= @song['icon'] %>" width="35"> <%= @song['name'] %> by <%= @song['artist'] %></a><br>
    to your <a href="<%= @playlist['shortUrl'] %>"><img src="<%= @playlist['icon'] %>" width="35"> <%= @playlist['name'] %></a> playlist.
  </p>

  <a class="button" href="<%= request.path_info %>/add">Accept</a>
</section>
